doctype html
html
  head
    block meta
    meta(charset='uft-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='keywords', content='jenny, about, ioh, ntu, GIS Taiwan, NTU, ANU, Inside')

    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.min.css')
    link(rel='stylesheet', href='/css/front-nav.css')
    link(rel='stylesheet', href='/css/style.css')
    block style

    script(type='text/javascript', src='/js/main/jquery.js')
    script(type='text/javascript', src='/js/main/jquery.validate.js')
    script(type='text/javascript', src='/js/main/jquery.serializeObject.js')
    script(type='text/javascript', src='/js/main/waypoints.min.js')
    script(type='text/javascript', src='jquery-1.11.0.min.js')
  body
    .container
      header#header
        h1#logo
          a(href='https://www.meepshop.com') meepShop Domain
        nav#nav
          ul
            li
              a(href='/domain#main') 搜尋
            li
              a(href='/domain#intro') 介紹
            li
              a(href='/domain#faq') 問題
            li
              a(href='/domain#pricing') 價錢
            li
              a(href='/domain#contact') 聯絡
    .container
      header#header
        h1#logo
          a(href='/#main') .me 認識我
        nav#nav
          ul
            li
              a(href='/#main') 自介
            li
              a(href='/#talks') 澳洲
            li
              a(href='/#faq') 實習
            li
              a(href='/#pricing') 價錢
    section#main
     .row
      header
        h1 Find a talk and vote for it!
        h4 快速查詢講座

    section#talks
    .row
      header
        h1 Create your own talks
        h4 想聽誰的講座？
      .column.medium-8.small-10.small-centered

    .row
      header
        h1 What is hot now?
        h4 熱門的講座
      .column.medium-8.small-10.small-centered

    .banner
        img(src="/images/banner.png" style="left:0px; position:fixed; width:1680px; height:80px;min-width:1280px; " alt="banner")
        #apDiv1 自傳
        #apDiv2 學校
        #apDiv3 工作
        #apDiv4 社團
        #apDiv5 興趣
    .content
        #bio
        #school
        #work
        #club
        #interest

script.
    $('#apDiv1').click(function(){
        $("html,body").animate({scrollTop: $('#bio').offset().top}, 800);
    });
    $('#apDiv2').click(function(){
        $("html,body").animate({scrollTop: $('#school').offset().top}, 800);
    });

    $('#apDiv3').click(function(){
        $("html,body").animate({scrollTop: $('#work').offset().top}, 800);
    });

    $('#apDiv4').click(function(){
        $("html,body").animate({scrollTop: $('#club').offset().top}, 800);
    });

    $('#apDiv5').click(function(){
        $("html,body").animate({scrollTop: $('#interest').offset().top}, 800);
    });


